<div class="container">
  <% if @error_message %>
    <div class="form-error">
      <%= @error_message %>
    </div>
  <% end %>
  <div class="signup-message">
    新規登録
  </div>
  <div class="user_wrapper">
    <%= form_with(model: User.new, local: true, url: users_path) do |form| %>
      <p>名前<%= form.text_field :name, :class => "form", :size => "35x1", :value => @user.name %></p>
      <p>パスワード<%= form.password_field :password, :class => "form", :size => "35x1", :value => @user.password %></p>
      <%= form.submit value="登録", :class => "signup-btn"%>
    <% end %>
  </div>
</div>
